{%load static%}
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="{{section.content.project_progressbars.title.class}}">{{section.content.project_progressbars.title.text}}</h6>
                                </div>
                                <div class="card-body">
                                        {%for item in section.content.project_progressbars.items%}
                                    <h4 class="{{item.heading_class}}">{{item.heading_text}} <span
                                            class="float-right">{{item.span_text}}</span></h4>
                                    <div class="progress mb-4">
                                        <div class="{{item.bar.class}}" role="{{item.bar.role}}" style="{{item.bar.style}}"
                                            aria-valuenow="{{item.bar.value_now}}" aria-valuemin="{{item.bar.value_min}}" aria-valuemax="{{item.bar.value_max}}"></div>
                                    </div>
                                        {%endfor%}
                                    
                                </div>
                            </div>

                            <!-- Color System -->
                            <div class="row">
                                {%for card in section.content.color_system.cards%}

                                <div class="col-lg-6 mb-4">
                                    <div class="{{card.class}}">
                                        <div class="card-body">
                                            {{card.title}}
                                            <div class="{{card.text_class}}">{{card.text}}</div>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}


                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="{%static 'sb-admin-2_template/assets/img/undraw_posting_photo.svg'%}" alt="">
                                    </div>
                                    <p>Add some quality, svg illustrations to your project courtesy of <a
                                            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                                        constantly updated collection of beautiful svg images that you can use
                                        completely free and without attribution!</p>
                                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                                        unDraw &rarr;</a>
                                </div>
                            </div>

                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                </div>
                                <div class="card-body">
                                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                                        CSS bloat and poor page performance. Custom CSS classes are used to create
                                        custom components and custom utility classes.</p>
                                    <p class="mb-0">Before working with this theme, you should become familiar with the
                                        Bootstrap framework, especially the utility classes.</p>
                                </div>
                            </div>

                        </div>
                    </div>