{%load static%}
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="{{section.content.project_progressbars.title.class}}">{{section.content.project_progressbars.title.text}}</h6>
                                </div>
                                <div class="card-body">
                                        {%for item in section.content.project_progressbars.items%}
                                    <h4 class="{{item.heading_class}}">{{item.heading_text}} <span
                                            class="float-right">{{item.span_text}}</span></h4>
                                    <div class="{{item.bar.div_class}}">
                                        <div class="{{item.bar.class}}" role="{{item.bar.role}}" style="{{item.bar.style}}"
                                            aria-valuenow="{{item.bar.value_now}}" aria-valuemin="{{item.bar.value_min}}" aria-valuemax="{{item.bar.value_max}}"></div>
                                    </div>
                                        {%endfor%}
                                    
                                </div>
                            </div>

                            <!-- Color System -->
                            <div class="row">
                                {%for card in section.content.color_system.cards%}
                                <div class="col-lg-6 mb-4">
                                    <div class="{{card.class}}">
                                        <div class="card-body">
                                            {{card.title}}
                                            <div class="{{card.text_class}}">{{card.text}}</div>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="{{section.illustrations.heading_class}}">{{section.illustrations.heading_text}}</h6>
                                </div>
                                
                                <div class="card-body">


                                    <div class="text-center">
                                        <img class="{{section.illustrations.body.img.class}}" style="{{section.illustrations.body.img.style}}"
                                            src="{%static section.illustrations.body.img.src%}" alt="{{section.illustrations.body.img.alt}}">
                                    </div>
                                    <p>{{section.illustrations.body.text.first_part}}<a
                                            target="{{section.illustrations.body.text.link_1.target}}" rel="{{section.illustrations.body.text.link_1.rel}}" href="{{section.illustrations.body.text.link_1.href}}">{{section.illustrations.body.text.link_1.text}}</a>{{section.illustrations.body.text.link_1.text}}</p>
                                    <a target="section.illustrations.body.text.link_2.target" rel="{{section.illustrations.body.text.link_2.rel}}" href="{{section.illustrations.body.text.link_2.href}}">{{section.illustrations.body.text.link_2.text}}</a>
                                </div>
                            </div>

                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="{{section.approach.heading_class}}">{{section.approach.heading_text}}</h6>
                                </div>
                                <div class="card-body">
                                    <p>{{section.approach.body.first_part}}</p>
                                    <p class="{{section.approach.body.second_part.class}}">{{section.approach.body.second_part.text}}</p>
                                </div>
                            </div>

                        </div>
                    </div>