{%extends "sb-admin-2_template/base.html"%}
{%block content%}
<!DOCTYPE html>

          

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">{{error.title}}</div>
                        <p class="lead text-gray-800 mb-5">{{error.description}}</p>
                        <p class="text-gray-500 mb-0">{{error.message}}</p>
                        <a href="{{error.anchor.href}}">{{error.anchor.text}}</a>
                    </div>

             
{%endblock%}