{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{head.title}}</title>

    <!-- Custom fonts for this template-->
    <link href="{%static 'sb-admin-2_template/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{%static 'sb-admin-2_template/assets/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Custom styles for **tables page -->
    <link href="{%static 'sb-admin-2_template/assets/vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/sb-admin-2/main/page/0/home">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">{{side_bar.side_bar_brand.text}} <sup> {{side_bar.side_bar_brand.sup_text}}</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item {%if page == 'index' %} active {%endif%}">
                <a class="nav-link" href="{{side_bar.nav_item_dashboard.href}}">
                    <i class="{{side_bar.nav_item_dashboard.i_class}}"></i>
                    <span>{{side_bar.nav_item_dashboard.span_text}}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {{side_bar.side_bar_heading_1}}
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item {%if page == 'buttons' or page == 'cards' %} active {%endif%}">
                <a class="nav-link {%if page == 'index' or page == 'charts' or page == 'tables'%} collapsed {%endif%}" href="{{side_bar.nav_item_collapse_menu.href}}" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="{{side_bar.nav_item_collapse_menu.i_class}}"></i>
                    <span>{{side_bar.nav_item_collapse_menu.span_text}}</span>
                </a>
                <div id="collapseTwo" class="collapse {%if page == 'buttons' or page == 'cards' %} show {%endif%} " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{{side_bar.nav_item_collapse_menu.collapse_header}}</h6>
                        <a class="collapse-item {% if page == 'buttons' %} active {%endif%}" href="{{side_bar.nav_item_collapse_menu.items.button.href}}">{{side_bar.nav_item_collapse_menu.items.button.text}}</a>
                        <a class="collapse-item {%if page == 'cards' %} active {%endif%}" href="{{side_bar.nav_item_collapse_menu.items.card.href}}">{{side_bar.nav_item_collapse_menu.items.card.text}}</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item {%if page == 'animations' or page == 'borders' or page == 'colors' or page == 'others' %} active {%endif%}" >
                <a class="nav-link {%if page == 'index' or page == 'charts' or page == 'tables' %} collapsed {%endif%}" href="{{side_bar.nav_item_utilities_collapse_menu.href}}" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="{{side_bar.nav_item_utilities_collapse_menu.i_class}}"></i>
                    <span>{{side_bar.nav_item_utilities_collapse_menu.span_text}}</span>
                </a>
                <div id="collapseUtilities" class="collapse {%if page == 'animations' or page == 'borders' or page == 'colors' or page == 'others' %} show {%endif%}" " aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{{side_bar.nav_item_utilities_collapse_menu.custom_utilities.header}}</h6>
                        <a class="collapse-item {%if page == 'colors'%} active {%endif%}" href="{{side_bar.nav_item_utilities_collapse_menu.custom_utilities.color.href}}">{{side_bar.nav_item_utilities_collapse_menu.custom_utilities.color.text}}</a>
                        <a class="collapse-item {%if page == 'borders'%} active {%endif%}"  href="{{side_bar.nav_item_utilities_collapse_menu.custom_utilities.border.href}}">{{side_bar.nav_item_utilities_collapse_menu.custom_utilities.border.text}}</a>
                        <a class="collapse-item {%if page == 'animations'%} active {%endif%}" href="{{side_bar.nav_item_utilities_collapse_menu.custom_utilities.animation.href}}">{{side_bar.nav_item_utilities_collapse_menu.custom_utilities.animation.text}}</a>
                        <a class="collapse-item {%if page == 'others'%} active {%endif%}"  href="{{side_bar.nav_item_utilities_collapse_menu.custom_utilities.other.href}}">{{side_bar.nav_item_utilities_collapse_menu.custom_utilities.other.text}}</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {{side_bar.side_bar_heading_2}}

            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item {%if page == '404' or page == 'blank'%} active {%endif%}">
                <a class="nav-link {%if page != '404' or page != 'blank'%} collapsed {%endif%}" href="{{side_bar.addons.pages.href}}" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="{{side_bar.addons.pages.i_class}}"></i>
                    <span>{{side_bar.addons.pages.span_text}}</span>
                </a>
                <div id="collapsePages" class="collapse {%if page == '404' or page == 'blank'%} show {%endif%}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{{side_bar.addons.pages.headings.logins}}</h6>
                        {%for item in side_bar.addons.pages.login_pages.items%}
                        <a class="collapse-item" href="{{item.href}}">{{item.text}}</a>
                        {%endfor%}
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">{{side_bar.addons.pages.headings.others}}</h6>
                        <a class="collapse-item {%if page == '404'%} active {%endif%} " href="{{side_bar.addons.page.404.href}}">{{side_bar.addons.page.404.heading}}</a>
                        <a class="collapse-item {%if page == 'blank'%} active {%endif%} " href="{{side_bar.addons.page.blank.href}}">{{side_bar.addons.page.blank.heading}}</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item {%if page == 'charts' %} active {%endif%}">
                <a class="nav-link" href="{{side_bar.addons.charts.href}}">
                    <i class="{{side_bar.addons.charts.i_class}}"></i>
                    <span>{{side_bar.addons.charts.span_text}}</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item {%if page == 'tables' %} active {%endif%} ">
                <a class="nav-link" href="{{side_bar.addons.tables.href}}">
                    <i class="{{side_bar.addons.tables.i_class}}"></i>
                    <span>{{side_bar.addons.tables.span_text}}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            {%if page == 'index' %}
            <!-- Sidebar Message -->
            <div class="sidebar-card">
                <img class="sidebar-card-illustration mb-2" src="{%static side_bar.message.img %} " alt="{{side_bar.message.img_alt}}">
                <p class="text-center mb-2"><strong>{{side_bar.message.text.strong}}</strong>{{side_bar.message.text.normal}}</p>
                <a class="{{side_bar.message.button.class}}" href="{{side_bar.message.button.href}}">{{side_bar.message.button.text}}</a>
            </div>
            {%endif%}
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    {%if page == 'tables'%}<form class="form-inline">{%endif%}
                    <button id="sidebarToggleTop" class="{{topbar.toggler.button.class}}">
                        <i class="{{topbar.toggler.button.i_class}}"></i>
                    </button>  
                    {%if page == 'tables'%} </form> {%endif%}

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="{{topbar.search.form.input.placeholder}}"
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="{{topbar.search.form.button.class}}" type="button">
                                    <i class="{{topbar.search.form.button.i_class}}"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="{{topbar.navbar.search_dropdown.href}}" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="{{topbar.navbar.search_dropdown.i_class}}"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="{{topbar.navbar.search_dropdown.messages.form.input.placeholder}}" aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="{{topbar.navbar.search_dropdown.messages.form.button.class}}" type="button">
                                                <i class="{{topbar.navbar.search_dropdown.messages.form.button.i_class}}"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="{{topbar.navbar.alerts.href}}" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="{{topbar.navbar.alerts.i_class}}"></i>
                                <!-- Counter - Alerts -->


                                <span class="{{topbar.navbar.alerts.span_class}}">{{topbar.navbar.alerts.span_text}}</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    {{topbar.navbar.alerts.alerts.dropdown.label}}
                                </h6>
                                {%for item in topbar.navbar.alerts.dropdown.list%}
                                <a class="dropdown-item d-flex align-items-center" href="{{item.href}}">
                                    <div class="mr-3">
                                        <div class={{item.class}}">
                                            <i class="{{item.i_class}}"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="{{item.date_class}}">{{item.date_text}}</div>
                                        <span class="font-weight-bold">{{item.span_text}}</span>
                                    </div>
                                </a>
                                {%endfor%}
                      
                                <a class="dropdown-item text-center small text-gray-500" href="{{topbar.navbar.alerts.dropdown.footer.href}}">{{topbar.navbar.alerts.dropdown.footer.text}}</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="{{topbar.navbar.messages.href}}" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="{{topbar.navbar.messages.i_class}}"></i>
                                <!-- Counter - Messages -->
                                <span class="{{topbar.navbar.messages.span_class}}">{{topbar.navbar.messages.span_text}}</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    {{topbar.navbar.messages.dropdown.label}}
                                </h6>
                                {%for item in topbar.navbar.message.dropdown.list%}
                                <a class="dropdown-item d-flex align-items-center" href="{{item.href}}">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{%static 'item.img_src'%}"
                                            alt="">
                                        <div class="{{item.status_class}}"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">{{item.text}}</div>
                                        <div class="small text-gray-500">{{item.sub_text}}</div>
                                    </div>
                                </a>
                                {%endfor%}
                                <a class="dropdown-item text-center small text-gray-500" href="{{topbar.navbar.messages.dropdown.footer.href}}">{{topbar.navbar.messages.dropdown.footer.text}}</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="{%static 'sb-admin-2_template/assets/img/undraw_profile.svg'%}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                {%for item in topbar.navbar.user.dropdown.list%}
                               {%if item.divider%} <div class="dropdown-divider"></div>{%endif%}
                                <a class="dropdown-item" href="{{item.href}}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="{{item.i_class}}"></i>
                                    {{item.text}}
                                </a>
                                {%endfor%}
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- block content-->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                {%block content%}
                {%endblock%}
                <!-- endblock content-->
                  </div>
                <!-- /.container-fluid -->
                



            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/sb-admin-2/main/page/7/login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'sb-admin-2_template/assets/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'sb-admin-2_template/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'sb-admin-2_template/assets/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'sb-admin-2_template/assets/js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{%static 'sb-admin-2_template/assets/vendor/chart.js/Chart.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'sb-admin-2_template/assets/js/demo/chart-area-demo.js'%}"></script>
    <script src="{%static 'sb-admin-2_template/assets/js/demo/chart-pie-demo.js'%}"></script>
    <script src="{%static 'sb-admin-2_template/assets/js/demo/chart-bar-demo.js'%}"></script>

       <!-- Page level plugins -->
    <script src="{%static 'sb-admin-2_template/assets/vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'sb-admin-2_template/assets/vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'sb-admin-2_template/assets/js/demo/datatables-demo.js'%}"></script>
</body>

</html>