{% extends "sb-admin-2_template/base.html" %} {%load static%} {%block content%}


                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">{{content.heading}}</h1>
                    <p class="mb-4">{{content.description}}<a target="_blank"
                            href="{{content.href}}">{{content.a_text}}</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{content.table.name}}</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            {%for item in content.table.headers%}
                                            <th>{{item}}</th>
                                            {%endfor%}
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                      {%for item in content.table.footers%}
                                            <th>{{item}}</th>
                                      {%endfor%}  
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {%for row in content.table.rows%}
                                        <tr>
                                            {%for item in row.data%}
                                            <td>{{item}}</td>
                                            {%endfor%}
                                        </tr>
                                    {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

           

       {%endblock%}